*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/
/.idea/inspectionProfiles/Project_Default.xml
.DS_Store
/build
/sglibrary/build/
/captures
.externalNativeBuild
.cxx
local.properties
/auto/auto/release/mobile-auto-release.aab
/auto/auto/release/mobile-auto-release.apk
/auto/debug/mobile-debug.aab
/auto/release/mobile-release.aab
/auto/release/mobile-release.apk
/auto/auto/release/output-metadata.json
/SmartThingsAPIReadme.txt
/google-services.json
/mobile/google-services.json
/sglibrary/google-services.json
Project_Default.xml
google-services*
.idea/
.vs/
.vscode/

!/gradle/wrapper/gradle-wrapper.jar
